{% extends 'geneva/base.html' %}
{% block title %}{{ object.id }}    {{ object.pub_date }}{% endblock %}


{% block content %}
    <form method="post">
    <h1>record view</h1>
    <h1>{{ object.pub_date }}</h1>
    <h3>{{ object.id }}</h3>
    <div class="container-fluid">
		<table class ="table table-bordered tank-table">
			<div class="col-xs-6 col-md-4">
				<tr>
					<th>Tank</th>
					<th>Opening Gauge</th>
					<th>BBLS Open Stock</th>
					<th>Closing Gauge</th>
					<th>BBLS Closing Stock</th>
					<th>Stock Change</th>
				<tr>


				<tr>
					<th>GV-01</th>
					<td><input type="text" class="form-control" placeholder="Open Gauge" required/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Open Stock" required/></td>
			     	<td><input type="text" class="form-control" placeholder="Closing Gauge" required/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Closing Stock" required/></td>
			      	<td><input type="number" class="form-control" placeholder="Stock Change" required/></td>
				</tr>



				<tr>
					<th>GV-02</th>
					<td><input type="text" class="form-control" placeholder="Open Gauge" required/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Open Stock" required/></td>
			     	<td><input type="text" class="form-control" placeholder="Closing Gauge" required/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Closing Stock" required/></td>
			      	<td><input type="number" class="form-control" placeholder="Stock Change"required/></td>
				</tr>



				<tr>
					<th>GV-03</th>
					<td><input type="text" class="form-control" placeholder="Open Gauge" required/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Open Stock" required/></td>
			     	<td><input type="text" class="form-control" placeholder="Closing Gauge" required/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Closing Stock" required/></td>
			      	<td><input type="number" class="form-control" placeholder="Stock Change" required/></td>
				</tr>
			</div>
		</table>
	</div>

	<div class="container-fluid">
		<table class="table table-bordered tact-table">
			<div class="col-xs-6 col-md-4">

				<tr>
					<th>Tact #</th>
					<th>Start</th>
					<th>End</th>
					<th>Totals</th>

				</tr>

				<tr>
					<th>Tact #1</th>
					<td><input type="number" class="form-control" placeholder="Open" required/></td>
					<td><input type="number" class="form-control" placeholder="Close" required/></td>
					<td><input type="number" class="form-control" placeholder="Total" required/></td>

				<tr>
					<th>Tact #2</th>
					<td><input type="number" class="form-control" placeholder="Open" required/></td>
					<td><input type="number" class="form-control" placeholder="Close" required/></td>
					<td><input type="number" class="form-control" placeholder="Total" required/></td>

				<tr>
					<th>Tact #3</th>
					<td><input type="number" class="form-control" placeholder="Open" required/></td>
					<td><input type="number" class="form-control" placeholder="Close" required/></td>
					<td><input type="number" class="form-control" placeholder="Total" required/></td>

				</tr>
				<tr>
					<th>Tact #4</th>
					<td><input type="number" class="form-control" placeholder="Open" required/></td>
					<td><input type="number" class="form-control" placeholder="Close" required/></td>
					<td><input type="number" class="form-control" placeholder="Total" required/></td>
				</tr>
				<tr>
					<th>Tact #5</th>
					<td><input type="number" class="form-control" placeholder="Open" required/></td>
					<td><input type="number" class="form-control" placeholder="Close" required/></td>
					<td><input type="number" class="form-control" placeholder="Total" required/></td>

				<tr>
					<th># of Transactions</th>
					<td><input type="number" class="form-control" required/></td>
				</tr>
				<tr>
					<th>GSV Total</th>
					<td><input type="number" class="form-control" required/></td>
				</tr>




			</div>
		</table>
	</div>

	<div class="container-fluid">
		<table class="table table-bordered omni-table">

			<div class="col-xs-6 col-md-4 text-center">

					<tr>
						<th class="meter1-head">From Stateline</th>

					</tr>
					<tr>
						<th>Meter</th>
						<th>Open</th>
						<th>Close</th>
						<th>GV-01</th>
						<th>GV-02</th>
						<th>GV-03</th>
						<th>Daily Total</th>
					</tr>
					<tr>
						<th>Meter #1 (EAST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 1 Open" required/></td>
						<td><input type="number" class="form-control" placeholder="Meter 1 Close" required/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>
						<td><input type="number" class="form-control" placeholder="Daily Total" required/></td>

					</tr>
					<tr>
						<th>Meter #2 (WEST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 2 Open" required/></td>
						<td><input type="number" class="form-control" placeholder="Meter 2 Close" required/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>
						<td><input type="number" class="form-control" placeholder="Daily Total" required/></td>

					</tr>
					<tr>
						<th>Total</th>
						<td><input type="number" class="form-control" placeholder="Combined Total" required/></td
					</tr>

			</div>
		</table>
	</div>

	<div class="container-fluid">
		<table class="table table-bordered omni-table">

			<div class="col-xs-6 col-md-4 text-center">

					<tr>
						<th class="meter2-head">Outbound to Plains</th>

					</tr>
					<tr>
						<th>Meter</th>
						<th>Open</th>
						<th>Close</th>
						<th>GV-01</th>
						<th>GV-02</th>
						<th>GV-03</th>
						<th>Daily Total</th>
					</tr>
					<tr>
						<th>Meter #1 (EAST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 1 Open" required/></td>
						<td><input type="number" class="form-control" placeholder="Meter 1 Close" required/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>
						<td><input type="number" class="form-control" placeholder="Daily Total" required/></td>

					</tr>
					<tr>
						<th>Meter #2 (WEST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 2 Open" required/></td>
						<td><input type="number" class="form-control" placeholder="Meter 2 Close" required/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>
						<td><input type="number" class="form-control" placeholder="Daily Total" required/></td>



					</tr>
					<tr>
						<th>Total</th>
						<td><input type="number" class="form-control" placeholder="Combined Total" required/></td>

					</tr>
			</div>
		</table>
	</div>

	<div class="container-fluid">

		<div class="form-group">
  		<label for="comment">Comments:</label>
  		<textarea class="form-control" rows="5" id="comments" required></textarea>
		</div>

	</div>
    </form>

{% endblock %}
