
{% extends 'geneva/base.html' %}
{% load mathfilters %}
{% block title %}{{ object.id }}    {{ object.pub_date }}{% endblock %}


{% block content %}
    <h1>record view</h1>
    <h1>{{ object.pub_date }}</h1>
    <h3>{{ object.id }}</h3>
    <div class="container-fluid">
		<table class ="table table-bordered tank-table">
			<div class="col-xs-6 col-md-4">
				<tr>
					<th>Tank</th>
					<th>Opening Gauge</th>
					<th>BBLS Open Stock</th>
					<th>Closing Gauge</th>
					<th>BBLS Closing Stock</th>
					<th>Stock Change</th>
				<tr>


				<tr>
					<th>GV-01</th>
					<td><input type="text" class="form-control" placeholder="Open Gauge" value="{{ object.gv_01_open_gauge }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Open Stock" value="{{ object.gv_01_open_stock }}"/></td>
			     	<td><input type="text" class="form-control" placeholder="Closing Gauge" value="{{ object.gv_01_close_gauge }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Closing Stock" value="{{ object.gv_01_close_stock }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="Stock Change"
                               value="{{ object.gv_01_close_stock|sub:object.gv_01_open_stock }}"/></td>
				</tr>



				<tr>
					<th>GV-02</th>
					<td><input type="text" class="form-control" placeholder="Open Gauge" value="{{ object.gv_02_open_gauge }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Open Stock" value="{{ object.gv_02_open_stock }}"/></td>
			     	<td><input type="text" class="form-control" placeholder="Closing Gauge" value="{{ object.gv_02_close_gauge }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Closing Stock" value="{{ object.gv_02_close_stock }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="Stock Change"
                               value="{{ object.gv_02_close_stock|sub:object.gv_02_open_stock }}"/></td>
				</tr>



				<tr>
					<th>GV-03</th>
					<td><input type="text" class="form-control" placeholder="Open Gauge" value="{{ object.gv_03_open_gauge }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Open Stock" value="{{ object.gv_03_open_stock }}"/></td>
			     	<td><input type="text" class="form-control" placeholder="Closing Gauge" value="{{ object.gv_03_close_gauge }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="BBLS Closing Stock" value="{{ object.gv_03_close_stock }}"/></td>
			      	<td><input type="number" class="form-control" placeholder="Stock Change"
                               value="{{ object.gv_03_close_stock|sub:object.gv_03_open_stock }}"/></td>
				</tr>
			</div>
		</table>
	</div>

	<div class="container-fluid">
		<table class="table table-bordered tact-table">
			<div class="col-xs-6 col-md-4">

				<tr>
					<th>Tact #</th>
					<th>Start</th>
					<th>End</th>
					<th>Totals</th>

				</tr>

				<tr>
					<th>Tact #1</th>
					<td><input type="number" class="form-control" placeholder="Open" value="{{ object.tact1_open }}"/></td>
					<td><input type="number" class="form-control" placeholder="Close" value="{{ object.tact1_close }}"/></td>
					<td><input type="number" class="form-control" placeholder="Total"
                               value="{{ object.tact1_close|sub:object.tact1_open }}"/></td>

				<tr>
					<th>Tact #2</th>
					<td><input type="number" class="form-control" placeholder="Open" value="{{ object.tact2_open }}"/></td>
					<td><input type="number" class="form-control" placeholder="Close" value="{{ object.tact2_close }}"/></td>
					<td><input type="number" class="form-control" placeholder="Total"
                               value="{{ object.tact2_close|sub:object.tact2_open }}"/></td>

				<tr>
					<th>Tact #3</th>
					<td><input type="number" class="form-control" placeholder="Open" value="{{ object.tact3_open }}"/></td>
					<td><input type="number" class="form-control" placeholder="Close" value="{{ object.tact3_close }}"/></td>
					<td><input type="number" class="form-control" placeholder="Total"
                               value="{{ object.tact3_close|sub:object.tact3_open }}"/></td>

				</tr>
				<tr>
					<th>Tact #4</th>
					<td><input type="number" class="form-control" placeholder="Open" value="{{ object.tact4_open }}"/></td>
					<td><input type="number" class="form-control" placeholder="Close" value="{{ object.tact4_close }}"/></td>
					<td><input type="number" class="form-control" placeholder="Total"
                               value="{{ object.tact4_close|sub:object.tact4_open }}"/></td>
				</tr>
				<tr>
					<th>Tact #5</th>
					<td><input type="number" class="form-control" placeholder="Open" value="{{ object.tact5_open }}"/></td>
					<td><input type="number" class="form-control" placeholder="Close" value="{{ object.tact5_close }}"/></td>
					<td><input type="number" class="form-control" placeholder="Total"
                               value="{{ object.tact5_close|sub:object.tact5_open }}"/></td>

				<tr>
					<th># of Transactions</th>
					<td><input type="number" class="form-control" value="{{ object.transactions_total }}"/></td>
				</tr>
				<tr>
					<th>GSV Total</th>
					<td><input type="number" class="form-control" value="{{ object.gsv_total }}"/></td>
				</tr>




			</div>
		</table>
	</div>

	<div class="container-fluid">
		<table class="table table-bordered omni-table">

			<div class="col-xs-6 col-md-4 text-center">

					<tr>
						<th class="meter1-head">From Stateline</th>

					</tr>
					<tr>
						<th>Meter</th>
						<th>Open</th>
						<th>Close</th>
						<th>GV-01</th>
						<th>GV-02</th>
						<th>GV-03</th>
						<th>Daily Total</th>
					</tr>
					<tr>
						<th>Meter #1 (EAST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 1 Open"
                                   value="{{ object.incoming_meter_1_open }}"/></td>
						<td><input type="number" class="form-control" placeholder="Meter 1 Close"
                                   value="{{ object.incoming_meter_1_close }}"/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>

						<td><input type="number" class="form-control" placeholder="Daily Total"
                                   value="{{ object.incoming_meter_1_total }}"/>
                        </td>

					</tr>
					<tr>
						<th>Meter #2 (WEST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 2 Open"
                                   value="{{ object.incoming_meter_2_open }}"/></td>
						<td><input type="number" class="form-control" placeholder="Meter 2 Close"
                                   value="{{ object.incoming_meter_2_close }}"/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>
						<td><input type="number" class="form-control" placeholder="Daily Total"
                                   value="{{ object.incoming_meter_2_total }}"/>
                        </td>
                    <tr>




						<th>Total</th>
						<td><input type="number" class="form-control" placeholder="Combined Total"
                                   value="{{ object.incoming_meter_daily_total }}"/></td>

					</tr>

			</div>
		</table>
	</div>

	<div class="container-fluid">
		<table class="table table-bordered omni-table">

			<div class="col-xs-6 col-md-4 text-center">

					<tr>
						<th class="meter2-head">Outbound to Plains</th>

					</tr>
					<tr>
						<th>Meter</th>
						<th>Open</th>
						<th>Close</th>
						<th>GV-01</th>
						<th>GV-02</th>
						<th>GV-03</th>
						<th>Daily Total</th>
					</tr>
					<tr>
						<th>Meter #1 (EAST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 1 Open"
                                   value="{{ object.outgoing_meter_1_open }}"/></td>
						<td><input type="number" class="form-control" placeholder="Meter 1 Close"
                                   value="{{ object.outgoing_meter_1_close }}"/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>
						<td><input type="number" class="form-control" placeholder="Daily Total"
                                   value="{{ object.outgoing_meter_1_close|sub:object.outgoing_meter_1_open }}"/>
                        </td>

					</tr>
					<tr>
						<th>Meter #2 (WEST)</th>
						<td><input type="number" class="form-control" placeholder="Meter 2 Open"
                                   value="{{ object.outgoing_meter_2_open }}"/></td>
						<td><input type="number" class="form-control" placeholder="Meter 2 Close"
                                   value="{{ object.outgoing_meter_2_close }}"/></td>
						<div class="btn-group" data-toggle="buttons" id="radioopt">
							  <td><label class="btn btn-primary active">
							    <input type="radio" name="options" id="option1">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option2">
							  </label>
							  </td>
							  <td>
							  <label class="btn btn-primary">
							    <input type="radio" name="options" id="option3">
							  </label>
							  </td>
						</div>
						<td><input type="number" class="form-control" placeholder="Daily Total"
                                   value="{{ object.outgoing_meter_2_close|sub:object.outgoing_meter_2_open }}"/>
                        </td>



					</tr>
					<tr>


						<th>Total</th>
						<td><input type="number" class="form-control" placeholder="Combined Total"
                                   value=""/></td>

					</tr>
			</div>
		</table>
	</div>

	<div class="container-fluid">

		<div class="form-group">
  		<label for="comment">Comments:</label>
  		<textarea class="form-control" rows="5" id="comments" value="{{ object.comments }}"></textarea>
		</div>

	</div>


{% endblock %}
