{% extends 'geneva/base.html' %}
{% block title %}Create Geneva Record{% endblock %}
{% block active_record %}Active {% endblock %}

{% block content %}

    <h1>Create Geneva Record</h1>
    <form class="" action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% include 'geneva/form-template.html' %}


    <div class="form-group">
        <div class="col-xs-6 col-md-4">
            <button type="submit" class="btn-danger">Submit</button>
        </div>
    </div>

    </form>

{% endblock %}